@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    background-color: #ffffff;
    background-image: url("./assets/bg.png");
    background-repeat: repeat;
  }

  #root {
    height: 100vh;
    @apply flex flex-col justify-center items-center;
  }
}
